html{
    scroll-behavior: smooth;
}
.sec{
    padding:30% 0;
    text-align: center;
}
nav{
    background: rgb(0, 0, 0);
    color:rgb(238, 253, 21);
    font-size: 1.5em;
    text-align: left;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    font-family: open sans, sans-serif;
}
nav ul{
    margin:0;
}
nav ul li {
    display:inline-block;
    padding:3px 0;
}
nav ul li a{
    color:rgb(238, 253, 21);
    text-decoration: none;
    padding:5px 20px;
    height:100%;
    margin:0;
    border:0;
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
    border-radius: 12px;
}
body{
    background:url('https://images.unsplash.com/photo-1562173252-e161f802597b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=644&q=80'),linear-gradient(rgb(49, 49, 49),rgb(49, 49, 49));
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    background-attachment: fixed;

}
.sec{
    padding:25% 0;
    color:white;
}
nav ul li a.active{
    background:rgb(238, 253, 21) ;
    color:rgb(0, 0, 0);
}
#home {padding-bottom: 150px;
padding-top:0; }
#topten { background-color: #673ab7;}
#country { background-color: #ff9800;}
#hotspots { background-color: #00bcd4;}
.carousel-container{
    width:60%;
    min-width: 500px;
    margin:5% auto;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.carousel-slide{
    width:100%;
    height: 500px;
    display: flex;
    
}
.carousel-container i{
    position: absolute;
    top:50%;
    z-index: 20;
    font-size: 30px;
    opacity: 0.8;
}
#prev{
    left:1%;
}
#next{
    right:1%;
}
.scrollD{
    font-size: 100px;
    margin:1% auto;
    color: white;
    opacity: 0.7;
    position: absolute;
}
